@page "/home2"

<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div data-svg-wrapper style="left: -47px; top: 3px; position: absolute">
        <svg width="1440" height="80" viewBox="0 0 1440 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-47 0H1457V80H-47V0Z" fill="black" fill-opacity="0.25" />
        </svg>
    </div>
    <img style="width: 41px; height: 41px; left: 876px; top: 29px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px #FFFDFD solid" src="https://placehold.co/41x41" />
    <img style="width: 36px; height: 37px; left: 670px; top: 34px; position: absolute" src="https://placehold.co/36x37" />
    <div style="width: 78px; height: 18px; left: 1117px; top: 31px; position: absolute; color: black; font-size: 30px; font-family: Anton SC; font-weight: 400; word-wrap: break-word">edit</div>
    <div style="width: 461px; height: 36px; left: 183px; top: 30px; position: absolute; background: #FFFDFD"></div>
    <div style="width: 94px; height: 29px; left: 501px; top: 159px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">EXPIRING </div>
    <div style="width: 94px; height: 29px; left: 983px; top: 159px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">EXPIRED</div>
    <div style="width: 455px; height: 789px; left: -6px; top: 159px; position: absolute; background: rgba(157.06, 192.31, 157.06, 0.36)"></div>
    <div style="width: 456px; height: 789px; left: 495px; top: 150px; position: absolute; background: rgba(255, 144.84, 37.19, 0.21)"></div>
    <div style="width: 455px; height: 789px; left: 977px; top: 150px; position: absolute; background: rgba(248.63, 7.25, 11.27, 0.09)"></div>
    <div style="width: 431px; height: 100px; left: 989px; top: 195px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 431px; height: 100px; left: 989px; top: 334px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 431px; height: 100px; left: 986px; top: 475px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 431px; height: 100px; left: 986px; top: 614px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 431px; height: 100px; left: 987px; top: 766px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 102px; height: 26px; left: 62px; top: 182px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">FRESH</div>
    <div style="width: 430px; height: 100px; left: 7px; top: 195px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 430px; height: 100px; left: 508px; top: 196px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 284px; height: 76px; left: 180px; top: 221px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <div style="width: 430px; height: 100px; left: 8px; top: 335px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 284px; height: 76px; left: 176px; top: 354px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <div style="width: 297px; height: 77px; left: 673px; top: 199px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <div style="width: 430px; height: 100px; left: 507px; top: 334px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 297px; height: 77px; left: 638px; top: 347px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <div style="width: 430px; height: 100px; left: 9px; top: 475px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 430px; height: 100px; left: 508px; top: 473px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 430px; height: 100px; left: 12px; top: 626px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 430px; height: 100px; left: 508px; top: 614px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 430px; height: 100px; left: 9px; top: 766px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <div style="width: 430px; height: 100px; left: 508px; top: 766px; position: absolute; background: linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%), linear-gradient(0deg, rgba(255, 252.88, 252.88, 0.53) 0%, rgba(255, 252.88, 252.88, 0.53) 100%)"></div>
    <img style="width: 93px; height: 93px; left: 73px; top: 215px; position: absolute" src="https://placehold.co/93x93" />
    <div style="width: 284px; height: 76px; left: 180px; top: 221px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <img style="width: 97px; height: 97px; left: 67px; top: 349px; position: absolute" src="https://placehold.co/97x97" />
    <img style="width: 110px; height: 96px; left: 66px; top: 486px; position: absolute" src="https://placehold.co/110x96" />
    <div style="width: 284px; height: 76px; left: 180px; top: 495px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <div style="width: 284px; height: 76px; left: 1203px; top: 212px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <div style="width: 284px; height: 76px; left: 1202px; top: 354px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">NAME:<br />DATE: </div>
    <img style="width: 185px; height: 107px; left: 991px; top: 189px; position: absolute" src="https://placehold.co/185x107" />
    <img style="width: 189px; height: 94px; left: 987px; top: 337px; position: absolute" src="https://placehold.co/189x94" />
    <img style="width: 149px; height: 99px; left: 512px; top: 195px; position: absolute" src="https://placehold.co/149x99" />
    <img style="width: 68px; height: 102px; left: 507px; top: 334px; position: absolute" src="https://placehold.co/68x102" />
    <img style="width: 66px; height: 41px; left: 1040px; top: 29px; position: absolute" src="https://placehold.co/66x41" />
    <img style="width: 167px; height: 77px; left: -4px; top: 0px; position: absolute; background: linear-gradient(0deg, white 0%, white 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px white solid" src="https://placehold.co/167x77" />
    <img style="width: 64px; height: 64px; left: 1360px; top: 19px; position: absolute" src="https://placehold.co/64x64" />
    <img style="width: 37px; height: 37px; left: 648px; top: 953px; position: absolute" src="https://placehold.co/37x37" />
    <img style="width: 36px; height: 36px; left: 1163px; top: 958px; position: absolute" src="https://placehold.co/36x36" />
    <div style="width: 94px; height: 29px; left: 626px; top: 1005px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">EXPIRING </div>
    <img style="width: 43.26px; height: 43.26px; left: 183.15px; top: 951px; position: absolute; transform: rotate(2deg); transform-origin: top left" src="https://placehold.co/43x43" />
    <div style="width: 90px; height: 28px; left: 1145px; top: 1006px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">EXPIRED</div>
    <div style="width: 102px; height: 26px; left: 176px; top: 1006px; position: absolute; color: black; font-size: 15px; font-family: Anta; font-weight: 400; word-wrap: break-word">FRESH</div>
</div>
@code {

}
